@model App_Bancaria.ViewModel.CuentaViewModel

@{
    ViewData["Title"] = "Registro";
}

<h1 style="text-align: center;">Registrar Cuenta Bancaria</h1>

<form asp-controller="Cuenta" asp-action="Registrar" method="post">
    <div class="form-group">
        <label asp-for="FormCuenta.NombreTitular" class="control-label"></label>
        <input asp-for="FormCuenta.NombreTitular" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FormCuenta.TipoCuenta" class="control-label"></label>
        <select asp-for="FormCuenta.TipoCuenta" class="form-control">
            <option value="">Seleccione el tipo de cuenta</option>
            <option value="Debito">Débito</option>
            <option value="Credito">Crédito</option>
            <option value="Ahorros">Ahorros</option>
            <option value="Corriente">Corriente</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="FormCuenta.SaldoInicial" class="control-label"></label>
        <input asp-for="FormCuenta.SaldoInicial" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FormCuenta.Email" class="control-label"></label>
        <input asp-for="FormCuenta.Email" class="form-control" />
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>

<h3 class="title-jhowill">@ViewData["Message"]</h3>

<div class="text-center">
    <a class="btn btn-secondary" asp-controller="Cuenta" asp-action="Listar">Ver Listado de Cuentas</a>
</div>
